platform,key,url,alias,slug,priority,default_steering,active
facebook,100000000000001,https://www.facebook.com/groups/100000000000001/,fb-ornek-1,ornek-grup-adresi,10,,1
instagram,ornek_galeri_hesabi,https://www.instagram.com/ornek_galeri_hesabi/,ig-ornek-1,,20,,0
